:root {
    --primary: #0d6efd;
    --primary-light: #6ea8fe;
    --primary-dark: #084298;
    --secondary: #959ca4;
    --secondary-light: #d0d4d7;
    --secondary-dark: #50555b;
    --light: #f8f9fa;
    --dark: #212529;
    --dark-light: #656566;
}

.primary-theme {
    --main-bg-color: var(--light);
    --button-bg-color: var(--primary);
    --button-text-color: var(--light);
    --button-shadow-color: var(--primary);
    --border-color: var(--secondary-light);
    --arrow-color: var(--secondary-light);
    --search-text-color: var(--light);
    --search-placeholder-color: var(--secondary);
    --search-border-color: var(--primary-dark);
    --search-border-color-focus: var(--primary-light);
    --search-clear-icon: var(--primary-dark);
    --search-clear-icon-hover-bg: var(--primary-light);
    --delete-icon-color: var(--primary);
    --delete-icon-color-hover: var(--primary-dark);
    --option-hover-color: var(--primary-light);
    --option-text-color: var(--dark);
    --option-selected-bg: var(--primary);
    --option-selected-color: var(--light);
    --option-selected-hover: var(--primary-light);
    --scrollbar-track: var(--secondary-light);
    --scrollbar-thumb: var(--secondary);
    --selected-option-bg: var(--primary-light);
}

.secondary-theme {
    --main-bg-color: var(--light);
    --button-bg-color: var(--secondary);
    --button-text-color: var(--light);
    --button-shadow-color: var(--secondary);
    --search-text-color: var(--dark);
    --search-placeholder-color: var(--secondary);
    --search-border-color: var(--secondary-dark);
    --search-border-color-focus: var(--secondary-light);
    --search-clear-icon: var(--secondary-dark);
    --search-clear-icon-hover-bg: var(--secondary-light);
    --delete-icon-color: var(--secondary);
    --delete-icon-color-hover: var(--secondary-dark);
    --border-color: var(--secondary-light);
    --arrow-color: var(--dark);
    --option-hover-color: var(--secondary-light);
    --option-text-color: var(--dark);
    --option-selected-bg: var(--secondary);
    --option-selected-color: var(--light);
    --option-selected-hover: var(--secondary);
    --scrollbar-track: var(--secondary-light);
    --scrollbar-thumb: var(--secondary);
    --selected-option-bg: var(--secondary-light);
}

.light-theme {
    --main-bg-color: var(--light);
    --button-bg-color: var(--light);
    --button-text-color: var(--dark);
    --button-shadow-color: var(--secondary);
    --search-text-color: var(--dark);
    --search-placeholder-color: var(--secondary);
    --search-border-color: var(--secondary-light);
    --search-border-color-focus: var(--secondary);
    --search-clear-icon: var(--secondary-dark);
    --search-clear-icon-hover-bg: var(--secondary-light);
    --delete-icon-color: var(--secondary);
    --delete-icon-color-hover: var(--secondary-dark);
    --border-color: var(--secondary-light);
    --arrow-color: var(--dark);
    --option-hover-color: var(--secondary-light);
    --option-text-color: var(--dark);
    --option-selected-bg: var(--secondary);
    --option-selected-color: var(--light);
    --option-selected-hover: var(--secondary);
    --scrollbar-track: var(--secondary-light);
    --scrollbar-thumb: var(--secondary);
    --selected-option-bg: var(--secondary-light);
}

.dark-theme {
    --main-bg-color: var(--dark);
    --button-bg-color: var(--dark);
    --button-text-color: var(--light);
    --button-shadow-color: var(--dark);
    --search-text-color: var(--light);
    --search-placeholder-color: var(--secondary);
    --search-border-color: var(--dark-light);
    --search-border-color-focus: var(--secondary-light);
    --search-clear-icon: var(--light);
    --search-clear-icon-hover-bg: var(--dark-light);
    --delete-icon-color: var(--secondary);
    --delete-icon-color-hover: var(--secondary-light);
    --border-color: var(--secondary);
    --arrow-color: var(--light);
    --option-hover-color: var(--secondary);
    --option-text-color: var(--light);
    --option-selected-bg: var(--dark-light);
    --option-selected-color: var(--light);
    --option-selected-hover: var(--dark-light);
    --scrollbar-track: var(--dark);
    --scrollbar-thumb: var(--secondary);
    --selected-option-bg: var(--dark-light);
}

.sm {
    --font-size: 0.8rem;
    --element-size: 12.5em;
    --icon-size-w: 1rem;
    --icon-size-h: 1rem;
    --delete-icon-size: 0.85rem;
    --clear-icon-size: 1.1rem;
}

.md {
    --font-size: 1rem;
    --element-size: 15em;
    --icon-size-w: 1.25rem;
    --icon-size-h: 1.25rem;
    --delete-icon-size: 1.25rem;
    --clear-icon-size: 1.3rem;
}

.lg {
    --font-size: 1.2rem;
    --element-size: 16em;
    --icon-size-w: 1.5rem;
    --icon-size-h: 1.5rem;
    --delete-icon-size: 1.5rem;
    --clear-icon-size: 1.5rem;
}

.selector {
    display: block;
    position: relative;
    width: var(--element-size);
    font-size: var(--font-size);
    font-family: Arial, sans-serif;

    &__button {
        display: flex;
        padding: 0.375rem 0.75rem;
        background-color: var(--button-bg-color);
        max-width: 100%;
        border-radius: 0.25rem;
        cursor: pointer;
        user-select: none;
        text-align: left;
        align-items: center;
        color: var(--button-text-color);

        &--search-wrapper {
            display: inline-flex;
            position: relative;
            box-sizing: border-box;
            margin-right: 1.5rem;
            cursor: text;
            flex-wrap: wrap;
            width: calc(100% - 2.5rem);
            padding-bottom: 0.2rem;

            &::after {
                content: '';
                position: absolute;
                bottom: -0.1rem;
                left: 0;
                right: 0;
                height: 1px;
                background-color: var(--search-border-color);
                transform: scaleX(1);
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -0.1rem;
                left: 50%;
                right: 50%;
                height: 1px;
                background-color: var(--search-border-color-focus);
                transition: left 0.3s ease, right 0.3s ease;
                z-index: 1;
            }

            &:focus-within::before {
                left: 0;
                right: 0;
            }
        }

        &--search {
            flex-grow: 1;
            flex-basis: 30px;
            min-width: 30px;
            font-size: var(--font-size);
            border: none;
            outline: none;
            background-color: var(--button-bg-color);
            color: var(--search-text-color);

            &::placeholder {
                color: var(--search-placeholder-color);
            }
        }

        &--selected-option {
            display: inline-flex;
            box-sizing: border-box;
            flex-wrap: wrap;
            padding-left: 0.6rem;
            padding-right: 0.15rem;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            border-radius: 15px;
            background-color: var(--selected-option-bg);
            margin: 1px;
            align-items: center;
            color: var(--search-text-color);
        }

        &--selected-option-text {
            display: inline-block;
            max-width: 100%;
        }

        &--delete-icon {
            display: inline-flex;
            height: var(--delete-icon-size);
            width: var(--delete-icon-size);
            margin-left: 0.1rem;
            cursor: pointer;
            pointer-events: all;
            z-index: 1003;
            fill: var(--delete-icon-color);
            transition: fill 0.3s ease;

            &:hover {
                fill: var(--delete-icon-color-hover);
            }
        }

        &--clear-icon {
            position: absolute;
            right: 1.5rem;
            height: var(--clear-icon-size);
            width: var(--clear-icon-size);
            border-radius: 50%;
            fill: var(--search-clear-icon);
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--search-clear-icon-hover-bg);
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 0.3em solid transparent;
            border-right: 0.3em solid transparent;
            border-top: 0.3em solid var(--arrow-color);
            transition: transform 0.3s ease;
        }

        &.open {
            box-shadow: 0 0 5px 3px var(--button-shadow-color);
        }

        &.open::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    &__dropdown {
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 0.3rem;
        width: 100%;
        background-color: var(--main-bg-color);
        border: 1px solid var(--border-color);
        border-radius: 0.25rem;
        z-index: 1000;
    }

    &__options {
        max-height: 150px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: var(--scrollbar-track);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        padding: 0.375rem 0.3rem;
        margin-top: 0.1rem;
        margin-right: 0.2rem;
        cursor: pointer;
        text-align: left;
        color: var(--option-text-color);

        &:hover {
            background-color: var(--option-hover-color);
        }

        &--selected {
            background-color: var(--option-selected-bg);
            color: var(--option-selected-color);

            &:hover {
                background-color: var(--option-selected-hover);
            }
        }

        &--icon {
            width: var(--icon-size-w);
            height: var(--icon-size-h);
            margin-right: 0.5rem;
        }
    }
}
